version: "3.8"
services:
  ts-app:
    platform: linux/amd64
    build:
      context: .
      dockerfile: hub/ts-app/Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
      - "3000:3000"
      - "3010:3010"

  py-app:
    platform: linux/amd64
    build:
      context: .
      dockerfile: hub/py-app/Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
      - "8000:8000"
      - "3010:3010"

  base-image:
    platform: linux/amd64
    build:
      context: .
      dockerfile: hub/base-image/Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
      - "3010:3010"

  expo:
    platform: linux/amd64
    build:
      context: .
      dockerfile: hub/expo/Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "19006:19006"
      - "8081:8081"
      - "3010:3010"

  dev-slim:
    build:
      context: .
      dockerfile: docker/slim.Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
      - "3010:3010"

  dev:
    build:
      context: .
      dockerfile: docker/alpine.Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
      - "3010:3010"
    volumes:
      - ./sandbox-api:/blaxel/sandbox-api
      - ./tmp:/blaxel/tmp
    command: ["air"]
